body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
}

#box1:hover{
    background-color: purple;
}

#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    animation-name: box2move;
    animation-iteration-count: 5;
    animation-duration: 60s;
    animation-direction: alternate;

}
/* this could help on project
@keyframes box2move{
    0%{background-color: pink; height: 40vh; }
    50%{background-color: blue;height: 100vh;}
    100%{background-color: orangered; height: 300vh;}

}
*/
@keyframes box2move{
    0%{left:0; top:0}
    25%{left: 75vw; top: 0}
    50%{left:75vw; top: 80vh;}
    75%{left:0vw; top: 80vh;}
    100%{left: 0;top:0;}
}